.buttonStyle {
    -fx-background-color: #3C3F41;
    -fx-border-radius: 3;
    -fx-font-size: 20;
    -fx-padding: 15;
    -fx-end-margin: 5;
    -fx-font-weight: bold;
}
.buttonStyle:hover {
    -fx-background-color: #3E86A0;
    -fx-text-fill: #ffff;
}
.buttonStyle:focused {
    -fx-text-fill: #ffff;
}
.buttonMenu {
    -fx-font-size: 20;
    -fx-background-color: #ffff;
    -fx-font-weight: bold;
    -fx-text-fill: #3C3F41;
}
.buttonMenu:hover {
    -fx-background-color: #3E86A0;
    -fx-text-fill: #ffff;
}